# ignores all files with following extensions JUST in the current directory (millepede)

*.o
*.his
*.log
*.res
*.txt
*.bin
*.root
*.pyc
*.txt.BK
Mptest2
Mptest2.root
GenerateFitUniform
clean_pede/.svn/
clean_pede/linesrch.mod
clean_pede/millepede.end
clean_pede/millepede.end~
clean_pede/millepede.his~
clean_pede/millepede.log~
clean_pede/millepede.res~
clean_pede/minresdatamodule.mod
clean_pede/minresmodule.mod
clean_pede/minresqlpblasmodule.mod
clean_pede/minresqlpdatamodule.mod
clean_pede/minresqlpmodule.mod
clean_pede/mp2test2_debug
clean_pede/mp2test2_mp2_debug
clean_pede/mpbits.mod
clean_pede/mpdalc.mod
clean_pede/mpdef.mod
clean_pede/mpmod.mod
clean_pede/mpqldec.mod
clean_pede/mptest1.mod
clean_pede/mptest2.mod
clean_pede/mptext.mod
clean_pede/pede
clean_pede/tools/.svn/
linesrch.mod
tracker.tar
millepede.end
millepede.end~
millepede.log~
minresdatamodule.mod
minresmodule.mod
minresqlpblasmodule.mod
minresqlpdatamodule.mod
minresqlpmodule.mod
mpbits.mod
mpdalc.mod
mpdef.mod
mpmod.mod
mpqldec.mod
mptest1.mod
mptest2.mod
mptext.mod
mpdebug.txt~
pede
mpIIDESY/AlignTracker
mpIIDESY/clean_pede/.svn/
mpIIDESY/clean_pede/tools/.svn/
mpIIDESY/clean_pede/millepede.his~
mpIIDESY/clean_pede/millepede.res~
millepede.his~
millepede.res~
mpIIDESY/millepede.his~
mpIIDESY/millepede.res~
mptest1_port
MpTest1
AlignTracker
LaunchPEDE_grid/data
.svn/
WIKI
mp2-logo.png
tools/.svn/
/mpIIDESY/.nfs00000000031e4b4700000010
/mpIIDESY/.nfs000000004e8a50fe0000000e
/mpIIDESY/.nfs00000000734129ba0000000d
/mpIIDESY/.nfs00000000c7b9015a0000000f
millepede.eve
FoM_Chi2_recon.C

alignment.aux
alignment.fdb_latexmk
alignment.fls
alignment.out
alignment.pdf
alignment.synctex.gz

/C_mpIIDESY/.nfs00000000031e4b4700000010
/C_mpIIDESY/.nfs000000001e7e6f5800000011
/C_mpIIDESY/.nfs000000004e8a50fe0000000e
/C_mpIIDESY/.nfs00000000734129ba0000000d
/C_mpIIDESY/.nfs00000000c7b9015a0000000f
/C_mpIIDESY/AlignTracker.cpp
/C_mpIIDESY/AlignTracker.h
/C_mpIIDESY/AlignTracker.mk
/C_mpIIDESY/AlignTracker_methods.cpp
/C_mpIIDESY/AlignTracker_methods.h
/C_mpIIDESY/COPYING.LIB
/C_mpIIDESY/C_test.cpp
/C_mpIIDESY/DateTime.hh
/C_mpIIDESY/Dbandmatrix.f90
/C_mpIIDESY/Destroyer.hh
/C_mpIIDESY/F_test.f90
/C_mpIIDESY/Logger.cpp
/C_mpIIDESY/Logger.hh
/C_mpIIDESY/MakeCTest.mk
/C_mpIIDESY/MakeFTest.mk
/C_mpIIDESY/MakeMp2test.mk
/C_mpIIDESY/MakeMpTest1.mk
/C_mpIIDESY/Makefile
/C_mpIIDESY/Mille.cc
/C_mpIIDESY/Mille.h
/C_mpIIDESY/P_test.py
/C_mpIIDESY/TProfile.py
/C_mpIIDESY/cfortran.h
/C_mpIIDESY/compareConstraints.py
/C_mpIIDESY/compareCppFortranFits.py
/C_mpIIDESY/compareLabelsRoot.py
/C_mpIIDESY/compareParams.py
/C_mpIIDESY/constraintChecker.py
/C_mpIIDESY/debug_mptest2.f90
/C_mpIIDESY/debug_test_mptest2.f90
/C_mpIIDESY/eigenSpectrumAnalysis.py
/C_mpIIDESY/fort.43
/C_mpIIDESY/handler.mk
/C_mpIIDESY/histogramFile.py
/C_mpIIDESY/linesrch.f90
/C_mpIIDESY/mille.f90
/C_mpIIDESY/millepede_utils.py
/C_mpIIDESY/minresDataModule.f90
/C_mpIIDESY/minresModule.f90
/C_mpIIDESY/minresqlpBlasModule.f90
/C_mpIIDESY/minresqlpDataModule.f90
/C_mpIIDESY/minresqlpModule.f90
/C_mpIIDESY/mpbits.f90
/C_mpIIDESY/mpdalc.f90
/C_mpIIDESY/mpdef.f90
/C_mpIIDESY/mphistab.f90
/C_mpIIDESY/mpmod.f90
/C_mpIIDESY/mpnum.f90
/C_mpIIDESY/mpqldec.f90
/C_mpIIDESY/mptest1.f90
/C_mpIIDESY/mptest1_port.cpp
/C_mpIIDESY/mptest1_port.h
/C_mpIIDESY/mptest1_port_detector.cpp
/C_mpIIDESY/mptest1_port_detector.h
/C_mpIIDESY/mptest2.f90
/C_mpIIDESY/mptext.f90
/C_mpIIDESY/pede.f90
/C_mpIIDESY/randomGenerator.py
/C_mpIIDESY/randomIntGenerator.py
/C_mpIIDESY/random_buffer.cpp
/C_mpIIDESY/random_buffer.h
/C_mpIIDESY/randoms.f90
/C_mpIIDESY/readCParamsToRoot.py
/C_mpIIDESY/readFortranParamsToRoot.py
/C_mpIIDESY/readMilleBinary.py
/C_mpIIDESY/readPedeHists.C
/C_mpIIDESY/readc.c
/C_mpIIDESY/refman.pdf
/C_mpIIDESY/rotationMonteCarlo.py
/C_mpIIDESY/vertpr.f90
/F_mpIIDESY/.nfs00000000031e4b4700000010
/F_mpIIDESY/.nfs000000001e7e6f5800000011
/F_mpIIDESY/.nfs000000004e8a50fe0000000e
/F_mpIIDESY/.nfs00000000734129ba0000000d
/F_mpIIDESY/.nfs00000000c7b9015a0000000f
/F_mpIIDESY/AlignTracker.cpp
/F_mpIIDESY/AlignTracker.h
/F_mpIIDESY/AlignTracker.mk
/F_mpIIDESY/AlignTracker_methods.cpp
/F_mpIIDESY/AlignTracker_methods.h
/F_mpIIDESY/COPYING.LIB
/F_mpIIDESY/C_test.cpp
/F_mpIIDESY/DateTime.hh
/F_mpIIDESY/Dbandmatrix.f90
/F_mpIIDESY/Destroyer.hh
/F_mpIIDESY/F_test.f90
/F_mpIIDESY/Logger.cpp
/F_mpIIDESY/Logger.hh
/F_mpIIDESY/MakeCTest.mk
/F_mpIIDESY/MakeFTest.mk
/F_mpIIDESY/MakeMp2test.mk
/F_mpIIDESY/MakeMpTest1.mk
/F_mpIIDESY/Makefile
/F_mpIIDESY/Mille.cc
/F_mpIIDESY/Mille.h
/F_mpIIDESY/Mptest2.cpp
/F_mpIIDESY/Mptest2.h
/F_mpIIDESY/Mptest2_detector.cpp
/F_mpIIDESY/Mptest2_detector.h
/F_mpIIDESY/P_test.py
/F_mpIIDESY/TProfile.py
/F_mpIIDESY/cfortran.h
/F_mpIIDESY/compareConstraints.py
/F_mpIIDESY/compareCppFortranFits.py
/F_mpIIDESY/compareLabelsRoot.py
/F_mpIIDESY/compareParams.py
/F_mpIIDESY/constraintChecker.py
/F_mpIIDESY/debug_mptest2.f90
/F_mpIIDESY/debug_test_mptest2.f90
/F_mpIIDESY/eigenSpectrumAnalysis.py
/F_mpIIDESY/fort.191
/F_mpIIDESY/fort.43
/F_mpIIDESY/handler.mk
/F_mpIIDESY/histogramFile.py
/F_mpIIDESY/linesrch.f90
/F_mpIIDESY/mille.f90
/F_mpIIDESY/millepede_utils.py
/F_mpIIDESY/minresDataModule.f90
/F_mpIIDESY/minresModule.f90
/F_mpIIDESY/minresqlpBlasModule.f90
/F_mpIIDESY/minresqlpDataModule.f90
/F_mpIIDESY/minresqlpModule.f90
/F_mpIIDESY/mpbits.f90
/F_mpIIDESY/mpdalc.f90
/F_mpIIDESY/mpdef.f90
/F_mpIIDESY/mphistab.f90
/F_mpIIDESY/mpmod.f90
/F_mpIIDESY/mpnum.f90
/F_mpIIDESY/mpqldec.f90
/F_mpIIDESY/mptest1.f90
/F_mpIIDESY/mptest1_port.cpp
/F_mpIIDESY/mptest1_port.h
/F_mpIIDESY/mptest1_port_detector.cpp
/F_mpIIDESY/mptest1_port_detector.h
/F_mpIIDESY/mptext.f90
/F_mpIIDESY/pede.f90
/F_mpIIDESY/randomGenerator.py
/F_mpIIDESY/randomIntGenerator.py
/F_mpIIDESY/random_buffer.cpp
/F_mpIIDESY/random_buffer.h
/F_mpIIDESY/randoms.f90
/F_mpIIDESY/readCParamsToRoot.py
/F_mpIIDESY/readFortranParamsToRoot.py
/F_mpIIDESY/readMilleBinary.py
/F_mpIIDESY/readPedeHists.C
/F_mpIIDESY/readc.c
/F_mpIIDESY/refman.pdf
/F_mpIIDESY/rotationMonteCarlo.py
/F_mpIIDESY/vertpr.f90
/mpIIDESY/#Mptest2.h#
/C_mpIIDESY/AlignTracker_helper.h
/C_mpIIDESY/Bias_seed.bash
/C_mpIIDESY/Chi2_seed.bash
/C_mpIIDESY/CompResults.py
/C_mpIIDESY/ConcatenatePEDE.py
/C_mpIIDESY/MP2Compare.py
/C_mpIIDESY/PEDE_tests.bash
/C_mpIIDESY/PEDE_tests.py
/C_mpIIDESY/PEDE_tests_seed.bash
/C_mpIIDESY/PlotFunc.py
/C_mpIIDESY/PlotGen.py
/C_mpIIDESY/PlotMP2.py
/C_mpIIDESY/StatesCompare.py
/C_mpIIDESY/StraightLineTools.cc
/C_mpIIDESY/StraightLineTools.hh
/C_mpIIDESY/StraightLineTracker_module.cc
/C_mpIIDESY/TrackerLaunch.py
/C_mpIIDESY/TrackerLaunchSeed.py
/C_mpIIDESY/TrackerLaunchSeedChi2.py
/C_mpIIDESY/TrackerLaunchSeedTH2F.py
/C_mpIIDESY/functions.tex
/C_mpIIDESY/getRandoms.sh
/C_mpIIDESY/loopdir.C
/C_mpIIDESY/randoms.f90.BK
/C_mpIIDESY/rootlogon.C
/C_mpIIDESY/rootlogon.py
/C_mpIIDESY/timeLaunch.py
/F_mpIIDESY/AlignTracker_helper.h
/F_mpIIDESY/Bias_seed.bash
/F_mpIIDESY/Chi2_seed.bash
/F_mpIIDESY/CompResults.py
/F_mpIIDESY/ConcatenatePEDE.py
/F_mpIIDESY/MP2Compare.py
/F_mpIIDESY/PEDE_tests.bash
/F_mpIIDESY/PEDE_tests.py
/F_mpIIDESY/PEDE_tests_seed.bash
/F_mpIIDESY/PlotFunc.py
/F_mpIIDESY/PlotGen.py
/F_mpIIDESY/PlotMP2.py
/F_mpIIDESY/StatesCompare.py
/F_mpIIDESY/StraightLineTools.cc
/F_mpIIDESY/StraightLineTools.hh
/F_mpIIDESY/StraightLineTracker_module.cc
/F_mpIIDESY/TrackerLaunch.py
/F_mpIIDESY/TrackerLaunchSeed.py
/F_mpIIDESY/TrackerLaunchSeedChi2.py
/F_mpIIDESY/TrackerLaunchSeedTH2F.py
/F_mpIIDESY/functions.tex
/F_mpIIDESY/getRandoms.sh
/F_mpIIDESY/loopdir.C
/F_mpIIDESY/randoms.f90.BK
/F_mpIIDESY/rootlogon.C
/F_mpIIDESY/rootlogon.py
/F_mpIIDESY/timeLaunch.py
.DS_Store
._.DS_Store
readPedeHists_C.d
readPedeHists_C.so
readPedeHists_C_ACLiC_dict_rdict.pcm
../python_toy_tracker/toytraceback.pyc
/python_toy_tracker/toytraceback.pyc
*.d
.depend
millepede.eve~
*.png
functions.aux
functions.fdb_latexmk
functions.fls
functions.out
functions.pdf
functions.synctex.gz

### files NOT to ignore 

#!*.h
#!*.c
#!Makefile
#!.inc
#!.cc
#!.F
#!.f90
#!.cpp
#!.py	
