# ignores all files with following extensions JUST in the current directory (millepede)

*.o
*.his
*.log
*.res
*.txt
*.bin
*.root
Mptest2
Mptest2.root
clean_pede/.svn/
clean_pede/linesrch.mod
clean_pede/millepede.end
clean_pede/millepede.end~
clean_pede/millepede.his~
clean_pede/millepede.log~
clean_pede/millepede.res~
clean_pede/minresdatamodule.mod
clean_pede/minresmodule.mod
clean_pede/minresqlpblasmodule.mod
clean_pede/minresqlpdatamodule.mod
clean_pede/minresqlpmodule.mod
clean_pede/mp2test2_debug
clean_pede/mp2test2_mp2_debug
clean_pede/mpbits.mod
clean_pede/mpdalc.mod
clean_pede/mpdef.mod
clean_pede/mpmod.mod
clean_pede/mpqldec.mod
clean_pede/mptest1.mod
clean_pede/mptest2.mod
clean_pede/mptext.mod
clean_pede/pede
clean_pede/tools/.svn/
linesrch.mod
millepede.end
millepede.end~
millepede.log~
minresdatamodule.mod
minresmodule.mod
minresqlpblasmodule.mod
minresqlpdatamodule.mod
minresqlpmodule.mod
mpbits.mod
mpdalc.mod
mpdef.mod
mpmod.mod
mpqldec.mod
mptest1.mod
mptest2.mod
mptext.mod
pede
mpIIDESY/clean_pede/.svn/
mpIIDESY/clean_pede/tools/.svn/
mpIIDESY/clean_pede/millepede.his~
mpIIDESY/clean_pede/millepede.res~
millepede.his~
millepede.res~
mpIIDESY/millepede.his~
mpIIDESY/millepede.res~
mptest1_port
MpTest1
### files NOT to ignore 

#!*.h
#!*.c
#!Makefile
#!.inc
#!.cc
#!.F
#!.f90
#!.cpp
